<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="../../styles/main.css" />
        <title>CV</title>
    </head>


    <body>
        <section id="pdf">
            <iframe id="pdf-container" src="../../pdf/CV_Dario Jose Alvarez Gayoso_EN.pdf" title="webviewer" frameborder="0"></iframe>
        </section>

        <script src="../../js/pdf_size.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>

    </body>
</html>